@import '../../vendor/filament/forms/dist/module.esm.css';
@import "../../node_modules/vazirmatn/Vazirmatn-font-face.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Vazirmatn, sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
